* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pic_wrap {
  position: relative;
  padding: 20px;
}
.pic_wrap::before, .pic_wrap::after, .pic_inner .pic_wrap::before, .pic_wrap:after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
}
.pic_wrap::before {
  border-top: 1px solid yellow;
  border-left: 1px solid yellow;
  top: 0;
  left: 0;
}
.pic_wrap::before {
  border-top: 1px solid yellow;
  border-right: 1px solid yellow;
  top: 0;
  right: 0;
}

.card {
  width: 25%;
}

.card:hover .wrap {
  transform: rotateX(180deg);
}